.navbar-nav a{
    font-size: 18px;
}
.navbar{
    background-color: rgb(46, 196, 196);
}
.hero{
    background-color: rgb(46, 196, 196);;
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 10px;
}
input{
    border-radius: 20px;
    text-align: center;
}